Repository rveciana/svg-path-properties, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, cli, test

chore: add changeset for release
  .changeset/chubby-cameras-find.md
  CHANGELOG.md
  package.json
Labels: documentation

chore: reduce package size and improve code quality
  .changeset/code-quality-improvements.md
  .changeset/package-size-optimization.md
  README.md
  dist/main.cjs
  dist/main.d.ts
  dist/main.mjs
  package-lock.json
  package.json
  src/arc.ts
  src/bezier-functions.ts
  src/bezier.ts
  src/linear.ts
  src/main.ts
  src/svg-path-properties.ts
  src/types.ts
Labels: documentation

docs: improve README with package size and JSDoc information
  .changeset/improve-documentation.md
  README.md
Labels: documentation

ci: migrate to npm Trusted Publishing for secure releases
  .github/workflows/release.yml
Labels: build

ci: update Node version to 22.x for npm Trusted Publishing support
  .github/workflows/release.yml
Labels: build

ci: upgrade npm to 11.x for Trusted Publishing support
  .github/workflows/release.yml
Labels: build

Add mcp
  .gitignore
  .opencode/package-lock.json
  opencode.json
Labels: none

feat: expose segment details via getDetails() and getParts().details
  .gitignore
  README.md
  src/arc.ts
  src/bezier.ts
  src/linear.ts
  src/svg-path-properties.ts
  src/types.ts
  test/get-details.test.ts
Labels: documentation

chore: add changeset for release
  .changeset/expose-segments-details.md
Labels: documentation

Give a tangent where a control point sits on its anchor
  src/bezier.ts
  test/tangent.test.ts
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/*'
          - '**/*.md'
          - 'guides/*'

build:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/*'

typescript:
  - changed-files:
      - any-glob-to-any-file: '**/*[.|-]d.ts'

cli:
  - any: ['bin/**/*']

test:
  - any: ['test/**/*', '__tests__/**/*']
